@font-face {
    font-family: 'MullerBold';
    src: url('/assets/fonts/mullerbold.woff2') format('woff2'),
    url('/assets/fonts/mullerbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}