// fonts:
$fontpostfix: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

$MullerB: 'MullerBold', $fontpostfix;

// colors:
$white: #FFFFFF;
$black: #000000;
$mineShaft: #313131;
$butterflyBush: #654A9D;
$dustyGray: #979797;
$prelude: #D3C6ED;
$aqua: #00CDFF;


// @media

$mobile: 370px;
$landscapeMobile: 575px;
$tablet: 768px;
$laptop: 991px;
$desktop: 1200px;