* {
    box-sizing: border-box;
}

h1 {
    padding: 1em;
    font-size: 16px;
    color: $mineShaft;
    border: 1px solid #000;
    font-family: $MullerB;
    transition: .4s;

    @media screen and (min-width: $tablet) {
        font-size: 26px;
        color: $butterflyBush;
    }

    @media screen and (min-width: $laptop) {
        font-size: 36px;
        color: $aqua;
        border-color: white;
    }
}

body {
    transition: .4s;

    @media screen and (min-width: $tablet) {
        background-color: orange;
    }

    @media screen and (min-width: $laptop) {
        background-color: black;
    }
}